// Typograhy
$font-body: "Source Serif 4", serif; // default
$font-header: "Source Sans 3", sans-serif; // specialty
$font-var: "Source Code Pro", monospace; // links, buttons

$regular: 400;
$bold-semi: 600;
$bold: 700;
$bold-heavy: 900;

$h2: 16px; // bold, uppercase
$xl-h: 72px; //
$xl-h-lh: 80px;
// contact info
$h3: 24px;
$h3-lh: 36px;
$p: 15px;
$p-lh: 27px;
// $nav: 16px; //bold, uppercase

// <weight>: Use a value from 200 to 900
.typeHeader {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  // font-weight: 650;
  font-style: normal;
}
.typeDefault {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.typeSpecial {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

// Color Palette
$wht: #fff;
$snow: snow;
$lt-accent: #e6e8e3;
$mid-accent: #b2baab;
$accent: #808c73;
$sap: #758155;
$mid-grey: #808080;
$grey: #4d4d4d;
$dk-grey: #282828;
$plaster: #d7b7a6;
$navy: #04152d;

// Gradients
.gPuttySky {
  background: rgb(216, 207, 203);
  background: linear-gradient(
    150deg,
    rgba(216, 207, 203, 1) 19%,
    rgba(210, 204, 201, 1) 25%,
    rgba(188, 198, 204, 1) 55%
  );
}
.gLightThing {
  background: rgb(233, 231, 219);
  background: linear-gradient(
    201deg,
    rgba(233, 231, 219, 1) 16%,
    rgba(210, 204, 201, 1) 54%,
    rgba(218, 236, 220, 1) 80%
  );
}
.gLight {
  background: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.gBlue {
  background-color: hsla(218, 62%, 26%, 1);
  background-image: radial-gradient(at 29% 48%, hsla(178, 63%, 13%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 79%, hsla(202, 79%, 19%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 25%, hsla(232, 51%, 13%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 81%, hsla(219, 25%, 21%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 89%, hsla(37, 48%, 12%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 41%, hsla(159, 15%, 24%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 80%, hsla(179, 24%, 47%, 1) 0px, transparent 50%);
}
.gName {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
  background-clip: text;
}

/*   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
html {
  scroll-behavior: smooth;
  font-family: $font-body;
  font-size: $p;
  font-weight: 400;
  // line-height: $p-lh;
  background-color: $accent;
}
.body {
  background-color: $sap;
  background: transparent url("/src/assets/bg.jpg") repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h2 {
  margin-bottom: 80px;
  padding: 6px 16px;
  font-family: $font-header;
  font-size: $h2;
  font-weight: $bold-semi;
  color: $snow;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  // background: $navy;
}
.h2Dark {
  color: $dk-grey;
  background: $wht;
}
.rmBottomMargin {
  margin-bottom: 0;
}
.container {
  // margin: 50px 0;
  padding: 70px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  z-index: 1;
}

// Nav
nav {
  margin: 0 1em;
  padding-top: 20px;
  z-index: 6;
  // background: darkgreen;
}
.menuItems {
  list-style: none;
  text-transform: uppercase;
  gap: 1em;
  flex-direction: row;
  justify-content: flex-end;
  display: none;
  position: relative;
  background: none;
}
.menuItems a {
  font-size: 12px;
  text-decoration: none;
  color: $navy;
}

// Hero
.hero {
  padding: 10%;
  width: 250px;
  display: block;
  // background: darkolivegreen;
}
.socials {
  margin: 3px 0 0 0;
  // height: 1.6em;
  display: flex;
  gap: 3px;
  align-self: flex-start;
  // background: aquamarine;
}
.socials > a > img {
  height: 20px;
}
.socials > a {
  margin: 0;
  padding: 0;
}
.heroText {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: flex-start;
  color: $snow;
  // background: darkmagenta;
}
h1 {
  font-weight: 480;
  font-size: 40px;
  margin: 20px 0 6px 0;
  z-index: 2;
  // background: cyan;
}
.heroTitle {
  margin: 3px 0;
  font-size: 14px;
  font-family: $font-header;
  text-transform: uppercase;
  z-index: 2;
  // background: darkkhaki;
}
// .contactBtn {
//   padding: 17px 26px;
//   font-size: $p;
//   font-weight: 400;
//   color: $snow;
//   text-decoration: none;
//   background-color: $navy;
//   border-radius: 6px;
//   // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
// }
.heroImg {
  margin-top: -62px;
  margin-left: 124px;
  height: 130px;
  width: 130px;
  display: inline-flex;
  align-self: flex-end;
  position: relative;
  background: transparent url("/src/assets/hero/profile.jpg") no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: content-box;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.3);
  filter: blur(100px);
  z-index: 0;
}
// About
.about {
  margin-top: -57px;
  padding: 0 10% 10% 10%;
  flex-flow: column nowrap;
  background: $lt-accent;
  z-index: 0;
}
.intro {
  margin-top: 26px;
  padding: 25px 0;
  font-size: $p;
  line-height: $p-lh;
  color: $navy;
  // background: lightblue;
}

// Contact
.contact {
  width: 100vw;
  padding: 58px 10%;
  justify-content: space-evenly;
  gap: 23px;
  // background: $sap;
}
.contactText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactText h2 {
  // font-size: 80px;
  // font-weight: 700;
  letter-spacing: 4px;
}
.contactText p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}
.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 26px;
}
.contactLink {
  display: flex;
  align-items: center;
  gap: 25px;
}
.contactLink a {
  font-size: $p;
  font-weight: $bold-semi;
  font-family: $font-var;
  letter-spacing: 1.5px;
  color: $navy;
  text-decoration: none;
}

// Experience
.expWrapper {
  border-radius: none;
}
.exp {
  width: 100%;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  // background: magenta;
}
.expItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  padding: 24px;
  background: lightblue;
}
.expItem:hover {
  border-radius: 0;
  background: rgba(0, 0, 15, 0.1);
}
.expItem img {
  width: 50px;
  // background: $dk-grey;
}
.expItemDetails {
  font-family: $font-body;
  background: green;
}
// role and company
.expItemDetails h3 {
  font-family: $font-header;
  font-size: 12px;
  font-weight: 500;
  background: cyan;
}
// dates
.expItemDetails p {
  font-size: 10px;
  font-weight: 300;
  background: yellow;
}
// role description
.expItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 10px;
  list-style-type: disc;
  margin-left: 17px;
  background: brown;
}

// Skills
.expContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 14px;
  gap: 34px;
}
.skills {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 37px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.skill p {
  font-size: 25px;
  font-family: $font-header;
  font-weight: 500;
}

// Projects
.projects {
  background: $mid-grey;
}
.pWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

// Project Card
.card {
  width: 300px;
  box-sizing: none;
  background: $dk-grey;
  // background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  // box-shadow: 0 16px 14px 0 #04152d;
  padding: 0;
}
.cardImage {
  width: 100%;
  margin-bottom: 26px;
}
.cardTitle {
  font-size: 25px;
  font-weight: 700;
}
.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}
.cardSkills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}
.cardSkill {
  font-size: 16px;
  font-weight: 400;
  background: $sap;
  padding: 2px 22px;
}
.cardLinks {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}
.cardLink {
  padding: 1px 22px;
  font-size: 16px;
  font-weight: 600;
  color: $navy;
  text-decoration: none;
  text-transform: uppercase;
  background: $mid-accent;
}
/* Media Queries */
@media only screen and (min-width: 321px) {
  .hero {
    // margin: 0 15%;
    width: 80%;
    // background: green;
  }
  .heroImg {
    margin-top: -86px;
    margin-left: 175px;
  }
}

// Tablets
@media only screen and (min-width: 481px) {
  nav {
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .menuItems {
    gap: 2em;
    display: flex;
  }
  .hero {
    flex-direction: row;
  }
  .content {
    align-items: flex-start;
  }
  .heroImg {
    height: 190px;
    width: 190px;
    border: 4px solid #fff;
    position: relative;
  }
  // .about {
  //   background-color: rgba(12, 12, 12, 0.6);
  //   padding: 73px;
  // }
  .aboutContent {
    flex-direction: row;
  }
  .aboutImage {
    width: 35%;
    display: block;
  }
  .aboutItems {
    margin-top: 0;
  }
  .aboutItem {
    padding: 25px;
  }
  .contact {
    flex-direction: row;
    gap: 10px;
  }
  .contactText {
    align-items: flex-start;
  }

  .contactLinks {
    align-items: flex-start;
  }
  .expWrapper {
    display: flex;
    background: lightcoral;
  }
  .expContent {
    flex-direction: row;
    justify-content: start;
    width: 45%;
    align-items: flex-start;
  }
  .skills {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .exp {
    width: 45%;
    margin-top: 0;
    gap: 40px;
  }
  .card {
    max-width: 345px;
  }
}

// Laptops & Small
@media only screen and (min-width: 769px) {
  .menuItems {
    gap: 3em;
    // background: cyan;
  }
  .heroImg {
    height: 250px;
    width: 250px;
  }
}
// Desktop & Large
@media only screen and (min-width: 1025px) {
}
// look at: 1201 + TV and xl screens
