// Typograhy
$font-body: "Source Serif 4", serif; // default
$font-header: "Source Sans 3", sans-serif;
$font-var: "Source Code Pro", monospace; // links, chips

// Font Weights (200-900)
$light: 200; // h3
$emphasis: 350; // h3
$regular: 400;
$bold-heading: 480; // h1
$bold-semi: 600; // h2, links

// Font Sizes
$small: 12px;
$default: 14px; // bold, uppercase
$d-lh: 18px; // paragraph lineheight
$h3: 20px;
$p-lh: 27px; // paragraph line height
$large: 40px; // h1

.type-header {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.type-default {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: $regular;
  font-style: normal;
}
.type-special {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: $bold-semi;
  font-style: normal;
}

// Color Palette
$snow: snow; //text
$mid-accent: #b2baab; //project bg
$sap: #758155; //skill chip
$dk-grey: #282828; //project card txt
$navy: #04152d; //nav and button text
$navy-hover1: #1f1f7a;
$navy-hover2: #262673;
$navy-hover3: #2929a3;

// Gradient
.default-bg {
  --_noise-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'><defs><filter id='n' x='0' y='0' width='100%' height='100%' color-interpolation-filters='sRGB'><feTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='3' stitchTiles='stitch' result='t'/><feColorMatrix type='saturate' values='0' in='t' result='g'/><feComponentTransfer in='g' result='a'><feFuncA type='linear' slope='0.5'/></feComponentTransfer></filter></defs><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
  --_noise-size: 0.2%;
  --_gradient-blend-mode: difference;
  --_gradient-blur: 0px;
  --_gradient: radial-gradient(at 3.648544586477745% 2.347470238095238%, #5a7058 0px, transparent 50%),
    radial-gradient(at 73.63160326505468% 51.71254960317461%, #243b34 0px, transparent 50%),
    radial-gradient(at 77.7845358473352% 1.240645463049579%, #4e614a 0px, transparent 50%),
    radial-gradient(at 40.181555538660376% 21.147100093545372%, #2c3a42 0px, transparent 50%),
    radial-gradient(at 85.9525643000154% 0%, #223d32 0px, transparent 50%),
    radial-gradient(at 20.99645772370245% 22.03000992063492%, #2c3a42 0px, transparent 50%);
  background: var(--_gradient) #061614;
  mix-blend-mode: var(--_gradient-blend-mode);
  .noise {
    background-image: var(--_noise-texture);
    background-size: var(--_noise-size);
    background-position: center;
    background-repeat: repeat;
  }
  .frosted-backdrop {
    backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  }
}

// Spacing
// Between Cards
$card-gap: 45px;
// Within Cards
$content-gap: 8px;
.card-spacer {
  margin-top: $content-gap;
}
// Between Sections use .container

/* Mobile */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: $font-body;
  font-size: $default;
  font-weight: $regular;
  color: $snow;
  min-height: 100vh;
}
html.default-bg {
  @extend .default-bg;
}
.bg.default-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--_noise-texture);
    background-size: var(--_noise-size);
    background-position: center;
    background-repeat: repeat;
    pointer-events: none;
    z-index: -1;
  }
}
.border-curve {
  border-radius: 3px;
}
.container {
  padding: 70px 10% 10% 10%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 1;
}

// Nav
nav {
  margin: 0 0.5em 1em 0;
  z-index: 6;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  text-transform: uppercase;
  gap: 1em;
  flex-direction: row;
  justify-content: flex-end;
  display: none;
  position: relative;
  background: none;
}
.nav-list a {
  font-size: $small;
  text-decoration: none;
  color: $navy;
}

// Hero
.hero {
  padding: 8% 0 0 8%;
  width: 300px;
  display: block;
}
.hero-flex {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: $snow;
}
h1 {
  margin: 0 0 12px 0;
  font-weight: $bold-heading;
  font-size: $large;
  letter-spacing: 1px;
  z-index: 2;
}
.hero-title {
  margin: 2px 0;
  font-size: $default;
  font-family: $font-header;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 2;
}
.hero-title:first-of-type {
  margin-top: 6px;
}
.socials {
  margin: 3px 0 80px 0;
  display: flex;
  gap: 10px;
  align-self: flex-start;
}
.socials > a > img {
  height: 20px;
  opacity: 0.6;
}
.socials > a > img:hover {
  opacity: 1;
}
.socials > a {
  margin: 0;
  padding: 0;
}

// About
h2 {
  padding: 6px 0 35px 0;
  font-family: $font-header;
  font-size: $default;
  font-weight: $bold-semi;
  color: $snow;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.about-text {
  font-size: $default;
  line-height: $p-lh;
  color: $snow;
  opacity: 0.8;
}

// Experience
.exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $card-gap;
}
.exp div {
  margin: 0;
  padding: 0;
}
.exp-card {
  display: flex;
  flex-direction: row;
  // background-color: #04152d;
}
// title and org
.exp-card h3 {
  font-family: $font-header;
  font-size: $h3;
  font-weight: $light;
}
.exp-description {
  font-family: $font-body;
  font-size: $default;
}
// dates
.exp-description p {
  font-family: $font-header;
  font-size: $small;
  font-weight: $regular;
  opacity: 0.3;
  text-transform: uppercase;
}
// role description
.exp-description ul {
  list-style: none;
  font-weight: $regular;
  opacity: 0.6;
}
// resume link
.text-link-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
}
.text-link {
  font-size: $default;
  text-transform: uppercase;
  text-decoration: none;
  color: $dk-grey;
}
.text-link:hover {
  color: $navy;
  stroke: $navy;
  cursor: pointer;
}
.text-link-icon {
  height: 12px;
  margin-left: 8px;
  stroke: $dk-grey;
}

// Projects
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $card-gap;
  width: 100%;
}

// Project Card
.card {
  width: 300px;
  padding: 0;
  // background-color: $sap;
}
.card-thumbnail {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 3px;
}
.card-header {
  --header-color: #{$snow};
  --header-stroke: #{$snow};
  --header-weight: #{$light};
  --header-opacity: 0.6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: baseline;
  text-decoration: none;
  gap: 8px;
  border-radius: 2px;
  transition: all 0.2s ease;
  color: var(--header-color);

  h3 {
    font-family: $font-header;
    font-size: $h3;
    font-weight: var(--header-weight);
    color: var(--header-color);
    margin: 0;
    transition: inherit;
  }
  .live-link-icon { // demo link icon
    stroke: var(--header-stroke);
    opacity: var(--header-opacity);
    fill: none; // Ensure no fill
    transition: inherit;
  }
  &:hover {
    --header-weight: #{$emphasis};
    --header-opacity: 1;
  }
}

.card-description {
  list-style: none;
  display: block;
  font-weight: $regular;
  line-height: $d-lh;
  opacity: 0.6;
}
.source-link { // gh link
  height: 20px;
  opacity: 0.7;
}
.source-link:hover {
  opacity: 1;
}
.card-skills-container {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}
.skill-chip {
  font-size: $small;
  font-weight: $regular;
  color: $snow;
  background: $sap;
  padding: 3px 6px;
  opacity: 0.8;
}

// Contact
footer {
  width: 100vw;
  // padding: 58px 10%;
  justify-content: space-evenly;
  // gap: 23px;
  // background-color: $navy;
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  // gap: $content-gap;
  // background-color: darkgrey;
}
.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  // background-color: $sap;
}
.contact-link a {
  color: $snow;
  text-decoration: none;
}
.contact-link span {
  display: none;
}
.contact-link img {
  height: 20px;
  opacity: 0.6;
}
.contact-link img:hover {
  opacity: 1;
  cursor: pointer;
}

/* Media Queries */
// mobileS: `max-width: 330px`,
// mobileM: `max-width: 400px`,

@media only screen and (min-width: 321px) {
  // .hero {
  //   // width: 80%;
  //   // background: green;
  // }
}

// >>    // mobileL: `max-width: 480px`,
// Tablets
@media only screen and (min-width: 481px) {
  nav {
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .menu-items {
    gap: 2em;
    display: flex;
  }
  .hero {
    flex-direction: row;
  }
  .content {
    align-items: flex-start;
  }
  .aboutContent {
    flex-direction: row;
  }
  .aboutImage {
    width: 35%;
    display: block;
  }
  .aboutItems {
    margin-top: 0;
  }
  .aboutItem {
    padding: 25px;
  }
  .contact {
    flex-direction: row;
    gap: 10px;
  }
  .contactText {
    align-items: flex-start;
  }

  .contactLinks {
    align-items: flex-start;
  }
  .expWrapper {
    display: flex;
    background: lightcoral;
  }
  .expContent {
    flex-direction: row;
    justify-content: start;
    width: 45%;
    align-items: flex-start;
  }
  .exp {
    width: 45%;
    margin-top: 0;
    gap: 40px;
  }
  .card {
    max-width: 345px;
  }
}

// tabletS: `max-width: 600px`,
// >>    // tabletL: `max-width: 768px`,
// desktopXS: `max-width: 900px`,
// Laptops & Small
@media only screen and (min-width: 520px) {
  .bg.default-bg {
    --_noise-size: 8.3%;
    --_gradient-blur: 0px;
  }
  .menu-items {
    gap: 3em;
    // background: cyan;
  }
}

//>>    // desktopS: `max-width: 1080px`,
// desktopM: `max-width: 1200px`,
// desktopL: `max-width: 1400px`,
// Desktop & Large
@media only screen and (min-width: 1025px) {
}
// look at: 1201 + TV and xl screens
