@import '../../vars.scss';

.container {
    margin-top: 129px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 73px 0;
    position: relative;
    background-color: transparent;
    border-radius: 3px;
    z-index: 1;
  }
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutImage {
    display: none;
  }
  .aboutItems {
    margin-top: 29px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .aboutItem {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background-image: linear-gradient(
      90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%
      );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    border-radius: 3px;
  }
  .aboutItem:hover {
    background-size: 100% 100%;
  }
  .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .aboutItem p {
    font-size: 25px;
  }
  
  @media screen and (min-width: 831px) {
    .container {
      background-color: rgba(12, 12, 12, 0.6);
      padding: 73px;
    }
    .content {
      flex-direction: row;
    }
    .aboutImage {
      width: 35%;
      display: block;
    }
    .aboutItems {
      margin-top: 0;
    }
    .aboutItem {
      padding: 25px;
    }
  }